@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Press+Start+2P&display=swap');

html,
body {
    background-color: black;
    color: white;
    font-family: "Play", sans-serif;
}

/* ----------------------------------- navbar */

h1 {
    font-size: 1.8rem;
    font-weight: 700;
}

.navbar {
    background-color: black;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.7rem;
    }
}

.navbar-menu-icon {
    color: white;
}

.navbar-toggler-icon {
    height: 1.2em;
    width: 1em;
}

.navbar-toggler {
    padding: .25rem .50rem;
    border: 3px solid white;
}

.active-underline {
    border-bottom: 2px solid white;
}

.navbar-nav .nav-link {
    color: white;
}

@media screen and (min-width: 768px) {
    .navbar-nav {
        margin-left: auto;
        margin-right: 0;
        font-size: 1.5rem;
    }
}

/* ----------------------------------- main */

main {
    margin-top: 8rem
}

@media screen and (min-height: 1024px) {
    main {
        margin-top: 15rem;
    }
}

/* ----------------------------------- Footer*/

footer {
    position: static;
    margin-top: 4.5rem;
    left: 0;
    bottom: 0;
}

@media screen and (min-height: 625px) {
    footer {
        position: fixed;
    }
}

.fa-github,
.fa-facebook-square,
.fa-instagram,
.fa-twitter-square,
.fa-linkedin {
    font-size: 30px;
    margin-right: 5px;
    color: white;
}

.fa-facebook-square:hover,
.fa-instagram:hover,
.fa-twitter-square:hover,
.fa-linkedin:hover,
.fa-github:hover {
    color: #ef3127;
}

/* ----------------------------------- Grid*/

.grid-logo .col-4 {
    border: 3px solid white;
    border-radius: 10px;
    height: 30px;
}

@media screen and (min-width: 768px) {
    .grid-logo .col-4 {
        height: 50px;
    }
}

.grid-logo {
    width: 35%;
    margin-top: 8rem;
}

@media screen and (max-width: 280px) {
    .grid-logo {
        width: 45%;
    }
}


@media screen and (min-width: 568px) {
    .grid-logo {
        width: 25%;
        margin-top: 5rem;
    }
}

@media screen and (min-width: 730px) {
    .grid-logo {
        width: 20%;
    }
}

@media screen and (min-width: 1200px) {
    .grid-logo {
        width: 15%;
        margin-top: 13rem;
    }
}

/* ----------------------------------- Button play and instruction in home page*/

#button-home-page {
    text-align: center;
    font-size: 2rem;
}

#button-home-page button {
    width: 70%;
}

@media screen and (min-width: 768px) {
    #button-home-page button {
        height: 5rem;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    #button-home-page button {
        height: 7rem;
        width: 40%;
    }
}

@media screen and (min-width: 1400px) {
    #button-home-page button {
        width: 40%;
    }
}

/* ----------------------------------- All button*/

.btn-game:hover,
.btn-game:active,
.btn-game:focus,
.btn-game:active:focus {
    color: #000;
    border: 3px solid#ff0000;
    border-radius: 10px;
    background-color: #eac7c7;
    ;
    box-shadow: 0 0 3pt 2pt #e8a99a;
}

/* ----------------------------------- Play with grid 3 X 3 */

.grid-3x3 {
    width: 80%;
}

.square-3x3 {
    border: 3px solid white;
    border-radius: 10px;
    height: 5rem;
}

#container-button-start {
    height: 160px;
    position: relative;
}


#button-start {
    font-size: 2rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* responsive under height: 414px, to play horizontally with smartphone*/

@media screen and (max-height: 414px) {
    #page-start-game {
        margin-top: 5.5rem;
    }
    .grid-3x3 {
        width: 40%;
    }
    .square-3x3 {
        height: 4rem;
    }
    #container-button-start {
        height: 60px;
    }
    #button-start {
        top: 100%;
    }
}

/* responsive under height: 320px, to play horizontally with Iphone 5*/

@media screen and (max-height: 320px) {
    #page-start-game {
        margin-top: 5rem;
    }
    .grid-3x3 {
        width: 40%;
    }
    .square-3x3 {
        height: 4rem;
    }
    #container-button-start {
        height: 40px;
    }
    #button-start {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 320px) {
    #button-start {
        font-size: 1.5rem;
    }
}

/* responsive in tablet and desktop*/

@media screen and (min-width: 768px) {
    .square-3x3 {
        height: 8rem;
    }
}

@media screen and (max-height: 411px) {
    .square-3x3 {
        height: 4rem;
    }
}

@media screen and (min-width: 992px) {
    .grid-3x3 {
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    .grid-3x3 {
        width: 50%;
    }
    .square-3x3 {
        height: 10rem;
    }
}

@media screen and (min-width: 1300px) {
    .grid-3x3 {
        width: 30%;
    }
    .square-3x3 {
        height: 6rem;
    }
}

@media screen and (min-width: 1500px) {
    .grid-3x3 {
        width: 35%;
    }
    .square-3x3 {
        height: 10rem;
    }
}

@media screen and (min-width: 2560px) {
    .grid-3x3 {
        width: 25%;
    }
}


